.card {
  display: flex;
  flex-direction: row;
  width: 450px;
  gap: 10px;
  border: 1px solid black;
  align-items: center;
}

.profileImage img {
  width: 80px;
  border-radius: 50%;
}

.infoItems {
  height: 80px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.infoItems p {
  width: 300px;
  display: inline-block;
  border: 1px solid black;
  padding-left: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icons span {
  border: 1px solid black;
  background-color: red;
}
